<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anshare.project.dao.AffixMapper">
  <resultMap id="BaseResultMap" type="com.anshare.project.model.Affix">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="MasterID" jdbcType="CHAR" property="masterid" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="FileName" jdbcType="LONGVARCHAR" property="filename" />
    <result column="SaveName" jdbcType="LONGVARCHAR" property="savename" />
    <result column="FileExtension" jdbcType="LONGVARCHAR" property="fileextension" />
  </resultMap>
</mapper>