<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anshare.project.dao.system.DicttypeMapper">
  <resultMap id="BaseResultMap" type="com.anshare.project.model.system.Dicttype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="PID" jdbcType="CHAR" property="pid" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Sort" jdbcType="VARCHAR" property="sort" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>
</mapper>