<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anshare.project.dao.system.RoleMapper">
  <resultMap id="BaseResultMap" type="com.anshare.project.model.system.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="RoleAuthName" jdbcType="VARCHAR" property="roleauthname" />
    <result column="Rank" jdbcType="INTEGER" property="rank" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="RoleName" jdbcType="LONGVARCHAR" property="rolename" />
  </resultMap>
</mapper>