<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anshare.project.dao.business.SixSalaryMapper">
  <resultMap id="BaseResultMap" type="com.anshare.project.model.business.SixSalary">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="CHAR" property="id" />
    <result column="StaffID" jdbcType="CHAR" property="staffid" />
    <result column="Salary" jdbcType="VARCHAR" property="salary" />
    <result column="OvertimePay" jdbcType="VARCHAR" property="overtimepay" />
    <result column="Pension" jdbcType="VARCHAR" property="pension" />
    <result column="IsDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="Date" jdbcType="VARCHAR" property="date" />
  </resultMap>


  <select id="list"  resultType="java.util.Map">


    SELECT
       u.*,r.name
    FROM
        Six_Salary u
     JOIN Six_Staff r   ON u.staffid = r.id
     WHERE u.IsDeleted =0 and r.IsDeleted = 0

</select>


    <select id="getSalary"  resultType="java.util.Map" parameterType="String">


    SELECT
       u.*,r.name,t.deptname
    FROM
        Six_Salary u
     JOIN Six_Staff r   ON u.staffid = r.id JOIN Dept t on r.deptname = t.id
     WHERE u.IsDeleted =0 and r.IsDeleted = 0 and u.Date=#{time}

</select>

    <select id="getRewardOrPunish"  resultType="java.util.Map" parameterType="String">


    SELECT
       u.*,r.name
    FROM
        Six_RewardOrPunish u
     JOIN Six_Staff r   ON u.staffid = r.id
     WHERE u.IsDeleted =0 and r.IsDeleted = 0 and u.Date=#{time}

</select>

</mapper>